

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h2, h4 {
    color: #343a40;
}

.navbar-brand {
    font-weight: bold;
    color: #f8f9fa;
}

.container {
    max-width: 1000px;
    margin-top: 50px;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table-dark th {
    cursor: pointer;
}

.btn-sm {
    padding: 5px 10px;
}
